streamlit>=1.40.0
openai>=1.0.0
docx2pdf>=0.1.8
pandas
jieba
python-docx
reportlab
sentence-transformers
whisper
fuzzywuzzy
python-Levenshtein
scikit-learn
transformers
tqdm
ffmpeg-python
torch==2.2.2 